<!DOCTYPE html>
<html>
  <head>
    <title>Thinkpiece</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
